  body {
    margin: 0;
   
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
    position: relative;
  }

.main-header {
    min-height: 56px;
}

.main-navigation {
    color: #000000;
    font-weight: bold;
    line-height: 26px; 
    background-color: #ffffff;
    position: relative;
}

.main-navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-navigation {
    display: flex;  
}

.site-navigation li {
    margin-top: 15px;
    width: 240px;
}

.site-navigation a {
    display: block;
}

.site-navigation li:nth-child(1) {
    text-align: left;
    padding-left: 72px;
}

.site-navigation li:nth-child(2) {
    text-align: left;
}

.site-navigation li:nth-child(3) {
    text-align: right;
    margin-left: auto;
}

.site-navigation li:nth-child(4) {
    text-align: right;
    padding-right: 72px;
}

.logo {
    position: absolute;
    width: 138px;
    height: 70px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 10;
}

a {
    text-decoration: none;
    color: #000000;
}

.intro {
    background-color: #d9eaf2;
    background-image: url("../img/polygon.png"),
                      url("../img/intro-background.jpg"); 
    background-repeat: no-repeat;
    background-size: 1203px 59px, 100%;
    background-position: -1px 450px, 0px -81px;
     
    min-height: 507px; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.main-navigation a:hover {
    color: #81b3d2;
}
.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.selected-page {
    color: #766357;
}

.map {
    width: 1200px;
    height: 593px;
}

.map iframe {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

.footer-main {
    height: 120px;
    width: 1200px;
    background-color: rgba(254, 254, 254, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* дополнительно применяется к футеру на главной. relative задан для контейнера-обертки */
.footer-index {
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    width: 33.3333%;
    padding-top: 4px;
}

.contacts a {
    display: block;
    padding-bottom: 5px;
    padding-left: 124px;
}

.contacts a:hover {
    color: #81b3d2;
}
.contacts a:active {
    color: rgba(0, 0, 0, 0.3);
}

.footer-socials {
    width: 33.3333%;
}

.footer-socials ul {
    list-style: none;
    display: flex;
    width: 148px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.social-button {
    display: flex;

    width: 46px;
    height: 48px;

    background-color: #81b3d2;

    align-items: center;
    justify-content: center;
}

.social-button:hover {
    background-color: #669ec0;;
  }
  
.social-button:active {
    background-color: #5496bd;
  }
.social-button:active path {
    opacity: 0.3;
  }


.copyright {
    display: flex;
    align-items: center;
    width: 33.3333%;
}

.copyright span {
    padding-left: 103px;
    padding-bottom: 1px;
    padding-right: 8px;
}

.copyright a {
    padding-top: 5px;
}


.copyright:hover path {
    fill: #81b3d2;
}

.copyright:active path {
    fill: #bdbbbc;
}

.section {
    line-height: 21px;
}

.feature-header {
    padding-top: 47px;
    padding-bottom: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature-header p,
.hotel-item p {
    color: #333333;
}

.features-list {
    text-align: center;
}

.features-list p {
    line-height: 21px;
    padding-top: 23px;
    color: #333333;
}

.features-list h2,
.features-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.features-title {
    width: 500px;
}

.feature-row-icons {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 162px;
    padding-bottom: 7px;
}

.feature-row-image {
    color: #ffffff;
    background-color: #81b3d2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-row-image img {
    display: block;
    width: 800px;
    height: auto;
}
.feature-row-image .feature-item {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #ffffff;
}

.feature-row-image p {
    color: #ffffff;
}

.feature-row-gray {
    background-color: #eeeeee;
    padding-top: 47px;
    padding-bottom: 47px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.feature-item {
    margin: 0 auto;
    width: 400px;
    min-height: 162px;
}
.feature-item h2 {
    margin: 0 auto;
    width: 155px;
    line-height: 21px;
}

.feature-item p {
    margin: 0 auto;
    width: 301px;
    padding-top: 22px;
}

.feature-row-gray p {
    margin: 0 auto;
    width: 261px;
}
.feature-row-icons p {
    padding-top: 24px;
}

.feature-icon-accomodation,
.feature-icon-food,
.feature-icon-souvenir {
    position: relative;
}

.feature-icon-accomodation::before {
    content: "";
    
    position: absolute;
    bottom: 50px;
    left: 39px;

    width: 75px; 
    height: 72px;
   
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-icon-food::before {
    content: "";
    
    position: absolute;
    bottom: 51px;
    left: 40px;

    width: 74px; 
    height: 70px;
   
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-icon-souvenir::before {
    content: "";
    
    position: absolute;
    bottom: 50px;
    left: 45px;

    width: 64px; 
    height: 76px;
   
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

/* АНИМАЦИЯ ДЛЯ ФОРМЫ на главной */
@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
         
    100% {
        transform: translateY(0%);
    }       
}

@keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }
  
/* ФОРМА на главной */

.hotel-search {
    line-height: 24px;  
    padding-top: 26px;
    position: relative;
}

.hotel-search-title {
    font-size: 30px;
    line-height: 36px;  
    text-align: center;
}

.hotel-search p {
    padding-bottom: 32px;
    text-align: center;
    color: #333333;
}

.hotel-search-form {
    position: absolute;
    width: 568px;
    height: 395px;
    font-weight: bold; 
    text-align: center; 
    
    background-color: #ffffff;    
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
    
    padding: 55px;
    box-sizing: border-box;
  
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 4;
    
    margin: 0 auto;
    right: 0;
    left: 0;
    display: none;
}
.form-container {
    z-index: 1;
}

.form-show {
    display: flex;
    animation: slide-down;    
    animation-duration: 1s; 
    animation-timing-function: ease-out;     
}

.modal-error {
  animation: shake 0.6s;
}

.form-line {
    position: relative;
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    margin: 0;
}

.form-line input[type="text"] {
    width: 346px;
    height: 38px;

    background-color: #f2f2f2;
    border: none;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 5px;
    padding-left: 14px;
    padding-right: 45px;
    
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
    font-family: "PT Sans", "Arial", sans-serif;
    margin-left: auto;
    box-sizing: border-box;
}

.form-line-amount {
    display: flex;
    align-items: center;
    width: 50%;
    height: 38px;
}
 
.form-line-amount input[type="text"] {
    width: 38px;
    background-color: #f2f2f2;
    border: none;
    text-align: center;
    padding: 0;
    padding-top: 6px;
    padding-bottom: 6px;

    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
    font-family: "PT Sans", "Arial", sans-serif;
    position: relative;
}

.form-line-amount .children {
    padding-left: 21px;
    box-sizing: border-box;
    outline: 1px solid black;
  }

label[for="children"] {
    padding-left: 53px;
}
  
  
.hotel-search-form input[type="text"]::placeholder {
    color: #000000;
    font-family: "PT Sans", "Arial", sans-serif;
}

.icon-calendar-button {
    position: absolute;
    width: 38px;
    height: 38px;
    margin: 0;
    padding: 0;
    right: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.icon-calendar-button:hover path {
    fill: #000000;
}

.icon-calendar-button:active path {
    fill: #81b3d2;
}

.icon-calendar-button:focus {
    outline: none;
}

.btn-minus,
.btn-plus {
    width: 39px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
    position: relative;
    z-index: 5;
    outline: none;
}

.btn-minus::after {
    content: "";
    position: absolute;

    width: 10px;
    height: 3px;
    background-color: #a9a9a9;

    top: 50%;
    left: 40%;
}

.btn-minus {
    margin-left: auto;
  }

.btn-plus::before {
    content: "";
    position: absolute;

    width: 11px;
    height: 3px;
    background-color: #a9a9a9;

    top: 45%;
    left: 38%;
}
.btn-plus::after {
    content: "";
    position: absolute;

    width: 11px;
    height: 3px;
    background-color: #a9a9a9;

    top: 17px;
    left: 38%;

    transform: rotate(90deg);
}

.btn-minus:hover::after {
    background-color: #000000;
}

.btn-minus:active::after {
    background-color: #81b3d2;
}

.btn-plus:hover::before,
.btn-plus:hover::after {
    background-color: #000000;
}
.btn-plus:active::before,
.btn-plus:active::after {
    background-color: #81b3d2;
}

.icon-calendar:hover {
    color: #000000;
}
.icon-calendar:active {
    color: #81b3d2;
}

.hotel-search-button-brown {
    width: 567px;
    background-color: #766357;
    padding: 31px 0px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    border: none;
    text-align: center;

    display: block;
    margin: 0 auto;
    z-index: 10;
}

.hotel-search-button-blue {
    width: 458px;
    background-color: #81b3d2;
    padding: 17px 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    border: none;
    align-self: flex-end;
}

.hotel-search-button-brown:hover {
    background-color: #604e43;
    color: #ffffff;
}

.hotel-search-button-blue:hover {
    background-color: #669ec0;
    color: #ffffff;
}

.hotel-search-button-brown:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.hotel-search-button-blue:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.hotel-search-form input:hover {
    background-color: #ebebeb;
}

.hotel-search-form input:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

/* ФИЛЬТР на странице с отелями */
.filter-search {
    background-image: url("../img/filter-background.jpg");
    background-color: #669ec0;

    background-repeat: no-repeat;
    color: #ffffff;
    text-transform: uppercase;

    padding-left: 70px;
    padding-right: 73px;
    padding-top: 27px;
    padding-bottom: 23px;
 }

.filter-search form {
    display: flex;
}

.filter-search fieldset {
    border: none;
    padding: 0;
    margin: 0;
    width: 256px;
    padding-top: 8px;
}

.filter-search legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.filter-search .check { 
    padding-top: 15px; 
    padding-bottom: 5px;
}

.filter-search button:hover {
    color: #000000;
    background-color: #ffffff;
}

.check {
    padding-left: 39px;
}

.check-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check-box {
    position: absolute;
    margin-left: -2.6em;
    width: 1.62em;
    height: 1.62em;
    background-image: url("../img/checkbox-off.svg");
}
.option {
    display: block;
}

.check-input:checked + .check-box {
    background-image: url("../img/checkbox-on.svg");
    width: 1.9em;
    height: 1.62em;
}

.check-input:checked:disabled + .check-box {
    background-image: url("../img/checkbox-on-disabled.svg");
    width: 1.9em;
    height: 1.62em;
}

.check-input:disabled + .check-box {
    background-image: url("../img/checkbox-off-disabled.svg");
    width: 1.67em;
    height: 1.62em;
}

.filter-range {
    width: 317px;
    margin-left: auto; 
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;
  
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;

    height: 34px;
    margin-bottom: 20px;

    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
  }

.price-controls::after {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
  }

.price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
  }

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
    -moz-appearance: textfield;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}
  
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
  }

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;
    transform: scale(1.1);
}

.btn-transparent {
    display: block;
    margin: 0 auto;

    padding: 6px 34px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
  
.btn-transparent:hover {
    color: #000000;
  
    background: #ffffff;
}
/* СОРТИРОВКА цена тип рейтинг */

.sorting {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 12px;
    line-height: 18px;

    display: flex; 
    align-items: center;

    padding-left: 72px;
    padding-right: 72px;
    padding-top: 10px;
    padding-bottom: 8px;
}

.sorting-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    padding-right: 47px;
}

.sorting-results {
    display: flex; 
}

.sorting-results p {
    padding-right: 40px;
}

.sorting-results button {
    margin-right: 18px;
    line-height: 18px;
    font-family: "PT Sans", "Arial", sans-serif;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    padding-right: 37px;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: dotted; 
    text-decoration-color: #81b3d2;
    background: none;
}

.sorting-arrows {
    margin-left: auto;
}

.sorting-arrows button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.sorting-arrows button:first-child {
    padding-right: 9px;
}

.sorting .button-active {
    color: #81b3d2;
    text-decoration: none; 
}


.sorting button:hover {
    color: #81b3d2;
    text-decoration: underline;
    text-decoration-style: dotted; 
    text-decoration-color: #81b3d2;
}

.sorting button:active {
    color: #000000;
    text-decoration: none;
}



.arrow:hover path {
    fill: #000000;
}

.arrow:active path {
    fill: #81b3d2;
}

.arrow-active path {
    fill: #81b3d2;
}

  /* ОТЕЛИ */

.hotels-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hotel-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: 1px solid #e5e5e5;
  padding-left: 72px;
  padding-right: 72px;
}


.hotel-item:nth-child(3) {
    border-bottom: 1px solid #e5e5e5;
  }

.hotel-description {
    width: 700px;
    padding-bottom: 20px;
    margin-top: -7px;
}

.hotel-type, 
.hotel-price {
  float: left;
  margin-top: -29px;
}

.hotel-image {
    margin-right: 30px;
    margin-top: 15px;
}

.hotel-list-title:hover {
    color: #81b3d2;
}

.hotel-list-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-button-blue {
    min-height: 27px;
    color: #ffffff;
    background-color: #81b3d2;
    margin-top: 14px;
    margin-right: 6px;
    padding: 5px 17px;
    font-weight: 700;
}

.hotel-button-brown {
    min-height: 27px;
    color: #ffffff;
    background-color: #766357;
    margin-top: 14px;
    padding: 5px 16px;
    font-weight: 700;
}

.hotel-button-blue:hover {
    background-color: #669ec0;
    color: #ffffff;
}

.hotel-button-blue:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.hotel-button-brown:hover {
    background-color: #604e43;
    color: #ffffff;
}
.hotel-button-brown:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.hotel-rating {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
}

.rating-five-stars {
    width: 107px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-size: 18px 17px;
    background-repeat: space;
    margin-bottom: 46px;
}

.rating-four-stars {
    width: 89px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-size: 18px 17px;
    background-repeat: space;
    margin-bottom: 46px;
}

.rating-three-stars {
    width: 64px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-size: 18px 17px;
    background-repeat: space;
    margin-bottom: 46px;
}

.rating-two-stars {
    width: 40px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-size: 18px 17px;
    background-repeat: space;
    margin-bottom: 46px;
}

.rating-one-star {
    width: 18px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-size: 18px 17px;
    background-repeat: space;
    margin-bottom: 46px;
}

.rating-numbers {
    text-align: center;
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    color: #666666;
}


.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

