@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: "Glyphter";
    src: url("../fonts/Glyphter.woff") format("woff");
  }
  
  body {
    margin: 0;
    padding: 0;
   
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  }

.main-header {
    height: 56px;
}

.main-navigation {
    color: #000000;
    font-weight: bold;
    line-height: 26px; 
    background-color: #ffffff;
    position: relative;
}

.main-navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-navigation {
    display: flex;
}

.site-navigation li {
    margin-top: 15px;
    width: 25%;
}

.site-navigation a {
    display: block;
}

.site-navigation li:nth-child(1) {
    text-align: left;
    padding-left: 72px;
}

.site-navigation li:nth-child(2) {
    text-align: left;
    margin-right: 101px;
}

.site-navigation li:nth-child(3) {
    text-align: right;
}

.site-navigation li:nth-child(4) {
    text-align: right;
    padding-right: 72px;
}

.logo {
    position: absolute;
    width: 138px;
    height: 70px;
    margin: 0 auto;
    left: 0;
    right: 0;
    z-index: 10;
}

a {
    text-decoration: none;
    color: #000000;
}

.intro {
    background-color: #d9eaf2;
    background-image: url("../img/polygon.png"),
                      url("../img/intro-background.jpg"); 
    background-repeat: no-repeat;
    background-size: 1203px 59px, 100%;
    background-position: -1px 450px, 0px -81px;
     
    min-height: 507px; 
    display: flex;
    align-items: center;
    justify-content: center; 
}

.main-navigation a:hover {
    color: #81b3d2;
}
.main-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.selected-page {
    color: #766357;
}

.map-footer {
    position: relative;
    height: 593px;
}

.main-footer {
    height: 120px;
    background-color: rgba(255, 255, 255, 0.9);

    display: flex;
    justify-content: space-around;
    align-items: center;
  
    position: relative;
    top: 473px;
}

.map {
    position: absolute; 
  }

.contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    width: 33.3333%;
    
}
.contacts a {
    display: block;
    padding-bottom: 5px;
}
.contacts span,
.contacts a {
    padding-left: 129px;
}

.copyright span {
    padding-left: 102px;
}

.footer-socials {
    width: 33.3333%;
}

.footer-socials ul {
    list-style: none;
    display: flex;
    width: 148px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.social-button {
    display: flex;

    width: 46px;
    height: 48px;

    background-color: #81b3d2;

    align-items: center;
    justify-content: center;
}

.social-button:hover {
    background-color: #669ec0;;
  }
  
.social-button:active {
    background-color: #5496bd;
  }
.social-button:active path {
    opacity: 0.3;
  }

.footer-inner {
    height: 120px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright {
    display: flex;
    align-items: center;
    width: 33.3333%;
}

.copyright-text {
    padding-top: 3px;
    padding-bottom: 15px;
    padding-right: 10px;
}

.copyright:hover path {
    fill: #81b3d2;
}

.copyright:active path {
    fill: #bdbbbc;
}

.section {
    line-height: 21px;
}

.feature-header {
    padding-top: 47px;
    padding-bottom: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.features-list {
    text-align: center;
}

.features-list p {
    line-height: 21px;
    padding-top: 23px;
}

.features-list h2,
.features-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.features-title {
    width: 500px;
}

.feature-row-icons {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 160px;
    padding-bottom: 85px;   
}

.feature-row-image {
    color: #ffffff;
    background-color: #81b3d2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-row-image img {
    display: block;
    width: 800px;
    height: 256px;
}


.feature-row-gray {
    background-color: #eeeeee;
    padding-top: 47px;
    padding-bottom: 61px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.feature-item {
    margin: 0 auto;
    width: 300px;
}
.feature-item h2 {
    margin: 0 auto;
    width: 155px;
    line-height: 21px;
}

.feature-item p {
    margin: 0 auto;
    width: 301px;
    padding-top: 22px;
}

.feature-row-image .features-item {
    padding-bottom: 30px;
}

.feature-row-gray p {
    margin: 0 auto;
    width: 261px;
}

.feature-icon-accomodation,
.feature-icon-food,
.feature-icon-souvenir {
    position: relative;
}

.feature-icon-accomodation::before {
    content: "";
    
    position: absolute;
    bottom: 50px;
    left: 39px;

    width: 75px; 
    height: 72px;
   
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-icon-food::before {
    content: "";
    
    position: absolute;
    bottom: 50px;
    left: 41px;

    width: 74px; 
    height: 70px;
   
    background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.feature-icon-souvenir::before {
    content: "";
    
    position: absolute;
    bottom: 50px;
    left: 45px;

    width: 64px; 
    height: 76px;
   
    background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}


/* ФОРМА на главной */

.hotel-search {
    line-height: 24px;  
    text-align: center;
    padding-top: 24px;
    position: relative;
}

.hotel-search-title {
    font-size: 30px;
    line-height: 36px;  
    text-align: center;
}

.hotel-search-form {
    font-weight: bold; 
    text-align: center; 
    width: 568px;
    height: 395px;
    background-color: #ffffff;    
    position: absolute;
    left: 315px;  
    padding: 55px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 1;
}

.form-line {
    
    position: relative;
}
.date-check-in {
    margin-right: 4px;
}

.booking-line {
    width: 330px;
    height: 35px;
    margin-left: 16px;
    background-color: #f2f2f2;
    border: none;
 
    padding-top: 0px;
    padding-bottom: 4px;
    padding-left: 15px;

    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
    font-family: "PT Sans", "Arial", sans-serif;
}
  
.adults-amount { 
    display: inline-block; 
    
}
.children-amount { 
    display: inline-block; 
    margin-left: 55px;
}

.adults-amount label {
   margin-right: 42px;
}

.children-amount label { 
   margin-right: 25px;
}

 
.booking-plus-minus input[type="text"] {
    width: 37px;
    background-color: #f2f2f2;
    border: none;
    text-align: center;

    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
    font-family: "PT Sans", "Arial", sans-serif;
    padding-top: 6px;
    padding-bottom: 6px;
}
  
.booking-line::placeholder {
    color: #000000;
    font-family: "PT Sans", "Arial", sans-serif;
}
  
.icon-calendar {
    position: absolute;
    left: 429px;
    top: 6px;
    font-family: "Glyphter";
    font-size: 20px;
    font-weight: normal;
    color: #a9a9a9;
}

.btn-minus,
.btn-plus {
    width: 38px;
    height: 38px;
    background-color: #f2f2f2;
    border: none;
    margin-right: -4px;
    margin-left: -4px;

    font-family: "Glyphter";
    font-size: 12px;
    color: #a9a9a9;
}

.btn-minus:hover {
    color: #000000;
} 

.btn-minus:active {
    color: #81b3d2;
} 

.btn-plus:hover {
    color: #000000;
} 

.btn-plus:active {
    color: #81b3d2;
} 

.icon-calendar:hover {
    color: #000000;
}

.icon-calendar:active {
    color: #81b3d2;
}
      
.hotel-search-button-brown {
    width: 568px;
    background-color: #766357;
    padding: 30px 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    margin-top: 29px;
}

.hotel-search-button-blue {
    width: 458px;
    background-color: #81b3d2;
    padding: 15px 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    border: none;
    align-self: flex-end;
}

.hotel-search-button-brown:hover {
    background-color: #604e43;
    color: #ffffff;
}

.hotel-search-button-blue:hover {
    background-color: #669ec0;
    color: #ffffff;
}

.hotel-search-button-brown:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.hotel-search-button-blue:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.hotel-search-form input:hover {
    background-color: #ebebeb;
}

.hotel-search-form input:focus {
    background-color: #ffffff;
    border-radius: 2px solid #e5e5e5;
}

/* ФИЛЬТР на странице с отелями */
.filter-search {
    background-image: url("../img/filter-background.jpg");
    background-color: #669ec0;

    background-repeat: no-repeat;
    color: #ffffff;
    text-transform: uppercase;

    padding-left: 58px;
    padding-right: 73px;
    padding-top: 27px;
 }

.filter-search form {
    display: flex;
    justify-content: flex-start;
}

.filter-search fieldset {
    border: none;
    padding-right: 98px;
}

.filter-search legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.filter-search .check { 
    padding-top: 16px; 
    padding-bottom: 5px;
}

.filter-search button {
    min-height: 32px;
    border: solid 2px #ffffff;
    border-radius: 2px;
    background: none;
    color: #ffffff;
    text-transform: uppercase;
    padding: 6px 34px;
}

.filter-search button:hover {
    color: #000000;
    background-color: #ffffff;
}

.check {
    padding-left: 39px;
}

.check-input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check-box {
    position: absolute;
    margin-left: -2.7em;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
}
.option {
    display: block;
}

.check-input:checked + .check-box {
    background-image: url("../img/checkbox-on.svg");
    width: 25px;
    height: 23px;
}
.check-input:checked:disabled + .check-box {
    background-image: url("../img/checkbox-on-disabled.svg");
    width: 26px;
    height: 22px;
}

.check-input:disabled + .check-box {
    background-image: url("../img/checkbox-off-disabled.svg");
    width: 23px;
    height: 23px;
}

.filter-range {
    width: 330px;
    margin-left: 253px; 
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;
  
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;

    height: 34px;
    margin-bottom: 20px;

    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
  }

.price-controls::after {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
  }

.price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
  }

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
}

.range-controls {
    position: relative;
  
    margin-bottom: 32px;
}
  
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
  }

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle-min {
    left: 0;
}
  
.range-toggle-max {
    left: 80%;
}

.range-toggle:hover {
    background: #1c4f80;
    transform: scale(1.1);
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 6px 35px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}
  
.btn-transparent:hover {
    color: #000000;
  
    background: #ffffff;
}

  /* ОТЕЛИ */

.hotels-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hotel-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: 1px solid #e5e5e5;
}

.hotel-item:nth-child(3) {
    border-bottom: 1px solid #e5e5e5;
  }

.hotel-description {
    width: 810px;
    padding-bottom: 20px;
    margin-top: -7px;
}

.hotel-type, 
.hotel-price {
  float: left;
  margin-top: -29px;
}

.hotel-image {
    margin-right: 30px;
    margin-top: 15px;
}

.hotel-list-title:hover {
    color: #81b3d2;
}

.hotel-list-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-button-blue {
    min-height: 27px;
    color: #ffffff;
    background-color: #81b3d2;
    margin-top: 14px;
    margin-right: 6px;
    padding: 5px 17px;
    font-weight: 700;
}

.hotel-button-brown {
    min-height: 27px;
    color: #ffffff;
    background-color: #766357;
    margin-top: 14px;
    padding: 5px 16px;
    font-weight: 700;
}

.hotel-button-blue:hover {
    background-color: #669ec0;
    color: #ffffff;
}

.hotel-button-blue:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.hotel-button-brown:hover {
    background-color: #604e43;
    color: #ffffff;
}
.hotel-button-brown:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.hotel-rating {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: -30px;
}

.rating-five-stars {
    width: 88px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-size: 18px 17px;
    background-repeat: space;
    margin-bottom: 46px;
}

.rating-four-stars {
    width: 88px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-size: 18px 17px;
    background-repeat: space;
    margin-bottom: 46px;
}

.rating-three-stars {
    width: 63px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-size: 18px 17px;
    background-repeat: space;
    margin-bottom: 46px;
}

.rating-two-stars {
    width: 39px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-size: 18px 17px;
    background-repeat: space;
    margin-bottom: 46px;
}

.rating-one-star {
    width: 38px;
    height: 17px;
    background-image: url("../img/star.svg");
    background-size: 18px 17px;
    background-repeat: space;
    margin-bottom: 46px;
}

.rating-numbers {
    text-align: center;
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    color: #666666;
}

.sorting {
    font-size: 12px;
    line-height: 18px;
    margin-left: 72px;
    display: inline-flex; 
    align-items: center;

    padding-top: 13px;
    padding-bottom: 12px;
}

.sorting h2 {
    font-size: 21px;
    line-height: 26px;
    margin-right: 50px;
}
.sorting-results {
    margin-top: 2px;
}
.sorting-results p {
    margin-left: -5px;
    margin-right: 35px;
}
.sorting-results button {
    margin-right: 18px;
}

.sorting button {
    color: rgba(0, 0, 0, 0.3);
    border: none;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: dotted; 
    text-decoration-color: #81b3d2;
}

.sorting .button-active {
    color: #81b3d2;
    text-decoration: none; 
}
.sorting-results {
    display: inline-flex; 
    width: 850px;
}

.sorting .arrow-active {
    margin-left: -5px;
}

.sorting button:hover {
    color: #81b3d2;
    text-decoration: underline;
    text-decoration-style: dotted; 
    text-decoration-color: #81b3d2;
}

.sorting button:active {
    color: #000000;
    text-decoration: none;
}

.sorting button:first-child {
    color: #81b3d2;
    text-decoration: none; 
}

.arrow:hover path {
    fill: #000000;
}

.arrow:active path {
    fill: #81b3d2;
}

.arrow-active path {
    fill: #81b3d2;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }

